<!DOCTYPE html>
<html lang="en" ng-app="notesApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style.css">
  <title>NotesMockup</title>
</head>
<body>
  <main class="main" ng-controller="mainCtrl">
    <header class="header">
    </header>
    <section class="notes_main_container">
      <section class="save_location_container column">
        <p class="current_save_locations" ng-repeat="note in notes" ng-click="setCurrentNoteTopics(note)">{{note.location}}</p>
      </section>
      <section class="note_type_container column">
        <p class="current_note_topics" ng-repeat="current_note in CurrentNoteTopics" ng-click="setCurrentNote(current_note)">{{current_note.title}}</p>
      </section>
      <section class="note_description_container column">
        <p class="current_note">{{currentNote}}</p>
      </section>
    </section>
  </main>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
  <script src="./mainCtrl/app.js"></script>
  <script src="./mainCtrl/mainCtrl.js"></script>
  <script src="./mainCtrl/mainSrvc.js"></script>
</body>
</html>
